{% extends "MultiservicesArxisBundle::layoutsmartpanel.html.twig" %}



{% block content_header_more %}

    
    {{ parent() }}
    <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% endblock %}
    
    
    
