/app/config/parameters.yml
/app/phpunit.xml
/grunt/node_modules
/grunt/.sass-cache
/grunt/.tmp
/mail/*
!mail/.gitkeep
/nbproject/
/node_modules
/composer.phar
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/node_modules
/web/bower_components
/web/tmp
!/web/uploads
/web/uploads/*
!/web/uploads/documents/images/profile
!web/uploads/documents/images/profile/male.png
!web/uploads/documents/images/profile/female.png
!web/uploads/documents/images/profile/.gitkeep
/web/uploads/documents/images/profile/*
!web/uploads/.gitkeep
/web/nbproject
/web/nbproject/private/
/web/vendor/**
