<!DOCTYPE html> 
<html> 
<head> 
    <meta  http-equiv = "Content-Type"  content = "text / html; charset = utf-8" /> 
    <TITLE> Se produjo un error: {{  STATUS_TEXT  }} </title> 
</head> 
<body> 
    <h1> Oops! Se produjo un error </h1> 
    <h2> El servidor ha devuelto un " {{  status_code  }}  {{  STATUS_TEXT  }} ". </h2> 
</body> 
</html>